<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width;initial-scale=1.0,user-scalable=no">
  <title>404</title>
  <style>
    html, body {
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
    }
    body {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    section {
      display: inline-block;
      text-align: center;
    }
    h1 {
      font-size: 60px;
      color: #666;
    }
    p {
      font-size: 14px;
      color: #666;
    }
  </style>
</head>
<body>
<section>
  <h1>404</h1>
  <p class="message"><%= message%></p>
</section>
</body>
</html>
 -->

 <h1>404</h1>