<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title>Pick</title>
    <link rel="stylesheet" href="/css/common.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/_page/login.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/_page/main.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>

    <% include ./_page/login.html %>
    <% include ./_page/main.html %>


    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/doT/doT.min.js" charset="utf-8"></script>

    <!-- 自动登陆 -->
    <!-- <script src="js/_page/tools/autoLogin.js" charset="utf-8"></script> -->

    <script src="js/index.js" charset="utf-8"></script>

    <script src="js/_page/login.js" charset="utf-8"></script>
    <script src="js/_page/main.js" charset="utf-8"></script>

    <script src="js/_page/com/add.js" charset="utf-8"></script>
    <script src="js/_page/com/show.js" charset="utf-8"></script>
    <script src="js/_page/com/song.js" charset="utf-8"></script>

  </body>
</html>
