<!-- login -->
<section class="page" id="page-login" data-title="login">
  <article>
    <div class="login-box">
      <div class="login-title">
        登录 <br>　　　Login
      </div>
      <p id="login-info">
        Please login first.
      </p>
      <form class="login-form" action="index.html" method="post" name="login">
        <input type="text" name="username" value="spraylee" placeholder="yourname">
        <br><br>
        <input type="password" name="password" value="">
        <br><br><br>
        <a id="login-btn">Login</a>
      </form>
    </div>
  </article>
</section>
