
    <!-- main-page -->
    <section class="page" id="page-main" data-title="pick">
      <article>
        <div class="chose-area">
          <p class="chose-title">
            chose what you want to pick
          </p>

          <!-- CHOSE AREA -->
          <div class="mask">
            <ul id="main-choseList">
              <li>加载中...</li>
            </ul>
          </div>
          <script id="tmp-main-choseList" type="text/template">
            {{~it: item}}
              <li>
                <div class="icon" style="background-image:url(page/{{=item.name}}/{{=item.icon}})"></div>
                <p class="song-name">{{=item.name}}</p>
                <p class="song-time">{{=item.time}}</p>
                <p class="song-time">{{=item.lastTime}}</p>
              </li>
            {{~}}
          </script>

        </div>

        <!-- Pull Button  -->
        <div class="pull-btn">

        </div>

        <!-- Full Screen Button-->
        <div class="full-screen-btn">
          <img src="img/full_screen.png" alt="Full Screen/Exit Full"/>
        </div>

        <!-- IMAGES AREA -->
        <div class="img-area">
          <div id="main-imgBox">
            for chose
          </div>
          <script id="tmp-main-imgBox" type="text/template">
            {{for (var i = 0; i < it.page.length; i++){ }}
              <div class="img-item" style="background-image:url(page/{{=it.name}}/{{=it.page[i]}})"></div>
            {{ } }}
          </script>
        </div>

        <!-- SONG AREA -->
        <div class="song-area">

        </div>
      </article>
    </section>
